@import "base";
@import "font-awesome.min";

.archive-entry {
  h4 {
    border: none;
  }

  small > span {
    margin-left: 0.25rem;
  }

  line-height: 2;
}

blockquote {
  border-top: 2px solid #888;
  margin-left: 1rem;
  padding-top: 0.25rem;
}

.message-details {
  & > summary {
    list-style: none;
    &::-webkit-details-marker {
      display: none;
    }
  }

  &:not([open]) {
    details {
      display: none;
    }
  }
}

.message-header {
  display: grid;
  margin-bottom: 0.5rem;
  grid-template-columns: 5fr auto auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "from details-collapsed date"
    "details details details";

  .from {
    grid-area: from;
  }

  .date {
    grid-area: date;
  }

  details {
    margin-right: 1rem;
    display: inline;
    grid-area: details-collapsed;

    summary {
      color: $text-muted;
    }

    &[open] {
      grid-area: details;
      padding: 0 3rem;
      margin-right: 0;

      summary {
        color: inherit;
      }

      & > div {
        padding-left: 0.5rem;
        background: #f5f5f5;
      }

      dl {
        margin: 0;
      }

      dd {
        margin-bottom: 0;
      }
    }
  }
}
