{% extends "lists.html" %}
{% block title %}
<title>
  {{ owner.canonical_name }}/{{ ml.name }} archives &mdash; {{site}}
</title>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>
        <a
          href="/{{ owner.canonical_name }}"
        >{{ owner.canonical_name }}</a>/{{ ml.name }}
      </h2>
      {% if ml.description %}
      {{ml.description | md}}
      {% endif %}
      <p>
        {% if current_user %}

        {% if subscription %}
        <form method="POST" action="{{url_for("archives.unsubscribe",
              owner_name=owner.canonical_name, list_name=ml.name) }}">
          {{csrf_token()}}
          {% if ListAccess.post in access %}
          <a
            href="mailto:{{ post_address(ml) }}"
            class="btn btn-primary btn-block"
          >New post {{icon("caret-right")}}</a>
          {% endif %}
          <button class="btn btn-default btn-block">
            Unsubscribe {{icon("caret-right")}}
          </button>
          {% if current_user.id == ml.owner_id %}
          <a
            href="{{url_for(
              "archives.settings_GET",
              owner_name=ml.owner.canonical_name,
              list_name=ml.name
            )}}"
            class="btn btn-default btn-block"
          >List settings {{icon("caret-right")}}</a>
          {% endif %}
        </form>
        {% else %}
        <form method="POST" action="{{url_for("archives.subscribe",
              owner_name=owner.canonical_name, list_name=ml.name) }}">
          {{csrf_token()}}
          <button class="btn btn-primary btn-block">
            Subscribe {{icon("caret-right")}}
          </button>
          {% if ListAccess.post in access %}
          <a
            href="mailto:{{ post_address(ml) }}"
            class="btn btn-default btn-block"
          >New post {{icon("caret-right")}}</a>
          {% endif %}
        </form>
        {% endif %}

        {% else %}
        <a
          href="mailto:{{ post_address(ml, suffix="+subscribe") }}"
          class="btn btn-primary btn-block"
        >Subscribe {{icon("caret-right")}}</a>
        {% if ListAccess.post in access %}
        <a
          href="mailto:{{ post_address(ml) }}"
          class="btn btn-default btn-block"
        >New post {{icon("caret-right")}}</a>
        {% endif %}
        {% endif %}
      </p>
      {% if ListAccess.post in access %}
      <p class="alert alert-info">
        Please review our
        <a href="https://man.sr.ht/lists.sr.ht/etiquette.md">
          mailing list etiquette
        </a> guide and ensure your email client is correctly configured before
        posting. Thanks!
      </p>
      {% endif %}
    </div>
    <div class="col-md-8">
      {% if any(threads) or search %}
      <form>
        <input
          name="search"
          type="text"
          placeholder="Search"
          class="form-control"
          value="{{ search if search else "" }}" />
      </form>
      {% endif %}
      {% if any(threads) %}
      <div class="event-list">
        {% for message in threads %}
        <div class="event archive-entry">
          <small class="text-muted pull-right">
            {% if message.nreplies > 0 %}
            <span>
              {{icon("reply")}}
              {{message.nreplies}}
            </span>
            {% endif %}
            {% if message.nparticipants > 1 %}
            <span>
              {{icon("user")}}
              {{message.nparticipants}}
            </span>
            {% endif %}
            <span>
              {{icon("clock")}} {{ message.updated | date }}
            </span>
          </small>
          <h4>
            <a href="{{
              url_for('archives.thread',
                owner_name=owner.canonical_name,
                list_name=ml.name,
                message_id=message.message_id)
            }}">
              {{ message.subject }}
            </a>
          </h4>
        </div>
        {% endfor %}
      </div>
      {{ pagination() }}
      {% else %}
      <p>
        {% if search %}
        Nothing found.
        {% else %}
        No one has posted to this list yet.
        {% endif %}
      </p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
