{% extends "lists.html" %}
{% block title %}
<title>
  {{ owner.canonical_name() }}/{{ ml.name }} archives
  &mdash;
  {{ cfg("sr.ht", "site-name") }} lists
</title>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>
        <a
          href="/{{ owner.canonical_name() }}"
        >{{ owner.canonical_name() }}</a>/{{ ml.name }}
      </h2>
      {% if ml.description %}
      {{ml.description | md}}
      {% endif %}
      <p>
        {% if current_user %}
        {% if subscription %}
        <form method="POST" action="{{url_for("archives.unsubscribe",
              owner_name=owner.canonical_name(), list_name=ml.name) }}">
          <a
            href="mailto:{{ post_address(ml) }}"
            class="btn btn-primary btn-block"
          >New post <i class="fa fa-caret-right"></i></a>
          <button class="btn btn-default btn-block">
            Unsubscribe <i class="fa fa-caret-right"></i>
          </button>
        </form>
        {% else %}
        <form method="POST" action="{{url_for("archives.subscribe",
              owner_name=owner.canonical_name(), list_name=ml.name) }}">
          <button class="btn btn-primary btn-block">
            Subscribe <i class="fa fa-caret-right"></i>
          </button>
          {% if ml.allow_nonsubscriber_postings %}
          <a
            href="mailto:{{ post_address(ml) }}"
            class="btn btn-default btn-block"
          >New post <i class="fa fa-caret-right"></i></a>
          {% endif %}
        </form>
        {% endif %}
        {% else %}
        <a
          href="mailto:{{ post_address(ml, suffix="+subscribe") }}"
          class="btn btn-primary btn-block"
        >Subscribe <i class="fa fa-caret-right"></i></a>
        {% if ml.allow_external_postings %}
        <a
          href="mailto:{{ post_address(ml) }}"
          class="btn btn-default btn-block"
        >New post <i class="fa fa-caret-right"></i></a>
        {% endif %}
        {% endif %}
      </p>
    </div>
    <div class="col-md-8">
      {% if any(threads) %}
      <form>
        <input
          name="search"
          type="text"
          placeholder="Search"
          class="form-control"
          value="{{ search if search else "" }}" />
      </form>
      <div class="event-list">
        {% for message in threads %}
        <div class="event archive-entry">
          <small class="text-muted pull-right">
            {% if message.nreplies > 0 %}
            <span>
              <i class="fa fa-reply"></i>
              {{message.nreplies}}
            </span>
            {% endif %}
            {% if message.nparticipants > 1 %}
            <span>
              <i class="fa fa-user"></i>
              {{message.nparticipants}}
            </span>
            {% endif %}
            <span>
              <i class="fa fa-clock-o"></i> {{ message.updated | date }}
            </span>
          </small>
          <h4>
            <a href="{{
              url_for('archives.thread',
                owner_name=owner.canonical_name(),
                list_name=ml.name,
                message_id=message.message_id)
            }}">
              {{ message.subject }}
            </a>
          </h4>
        </div>
        {% endfor %}
      </div>
      {{ pagination() }}
      {% else %}
      <p>
        No one has posted to this list yet.
      </p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
