{% extends "lists.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <p>
        Welcome back, {{ current_user.username }}! This is the
        {{cfg("sr.ht", "site-name")}} mailing list service. Documentation
        for its use is
        <a href="https://man.sr.ht/lists.sr.ht">available here</a>.
      </p>
      <p>
        <a
          href="{{url_for("user.create_list_GET")}}"
          class="btn btn-primary btn-block"
        >Create new list <i class="fa fa-caret-right"></i></a>
        <a href="/subscriptions" class="btn btn-default btn-block">
          Manage your subscriptions
          <i class="fa fa-caret-right"></i>
        </a>
        <a href="/lists" class="btn btn-default btn-block">
          Manage your lists
          <i class="fa fa-caret-right"></i>
        </a>
      </p>
    </div>
    <div class="col-md-8">
      <h3>Recent activity</h3>
      <div class="event-list">
        {% for email in recent %}
        <div class="event">
          <h4>
            <a href="{{ url_for("archives.thread",
                owner_name=email.list.owner.canonical_name(),
                list_name=email.list.name,
                message_id=email.thread.message_id if email.thread else email.message_id,
              ) }}{{ "#" + email.message_id if email.thread else "" }}">
              {{ email.subject }}
            </a>
            <small class="text-muted pull-right">{{ email.created | date }}</small>
          </h4>
          <p>
            From
            <a href="mailto:{{ email.parsed().get('From') }}">
              {{ email.parsed().get('From') }}
            </a>
            to
            <a
              href="{{ url_for("archives.list",
                owner_name=email.list.owner.canonical_name(),
                list_name=email.list.name
              ) }}"
              >{{email.list.owner.canonical_name()}}/{{email.list.name}}</a>
          </p>
          <blockquote>
            <pre style="background: transparent">{{ email.body }}</pre>
          </blockquote>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
