{% extends "lists.html" %}
{% block title %}
<title>
  {{ thread.subject }} &mdash; {{ cfg("sr.ht", "site-name") }} lists
</title>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>
        <a
          href="/{{ owner.canonical_name() }}"
        >{{ owner.canonical_name() }}</a>/<a
          href="{{ url_for('archives.list',
            owner_name=owner.canonical_name(),
            list_name=ml.name) }}"
        >{{ ml.name }}</a>
      </h2>
      <p>
        {{ ml.description | md }}
      </p>
    </div>
    <div class="col-md-8">
      {% macro display_message(msg) %}
      {% set stripped_subject =
        msg.subject[4:] if msg.subject.upper().startswith("RE: ") else msg.subject %}
      {% if msg == thread or stripped_subject != thread.subject %}
      <h3>{{ msg.subject }}</h3>
      {% endif %}
      <div>
        <p>
          {% if msg.sender != None %}
          <a href="#">
            {{ msg.sender.username }}
          </a>
          {% else %}
          {% if current_user %}
          <a href="mailto:{{
              msg.parsed().get('From')
            }}&in-reply-to={{
              quote(msg.message_id)
            }}">{{ msg.parsed().get('From') }}</a>
          {% else %}
          {{ parseaddr(msg.parsed().get('From'))[0] }}
          {% endif %}
          {% endif %}
          <a
            id="{{ msg.message_id }}"
            href="#{{ msg.message_id }}"
            class="text-muted pull-right"
          >{{ msg.created | date }}</a>
        </p>
        <pre>{{ msg.body }}</pre>

        {% if len(msg.replies) > 1 %}
        {% for child in msg.replies %}
        <blockquote>
        {{ display_message(child) }}
        </blockquote>
        {% endfor %}
        {% endif %}
      </div>

      {% if len(msg.replies) <= 1 %}
      {% for child in msg.replies %}
      {{ display_message(child) }}
      {% endfor %}
      {% endif %}
      {% endmacro %}

      {{ display_message(thread) }}
    </div>
  </div>
</div>
{% endblock %}
