{% extends "lists.html" %}
{% block title %}
<title>
  {{ thread.subject }} &mdash; {{ cfg("sr.ht", "site-name") }} lists
</title>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>
        <a
          href="/{{ owner.canonical_name() }}"
        >{{ owner.canonical_name() }}</a>/<a
          href="{{ url_for('archives.list',
            owner_name=owner.canonical_name(),
            list_name=ml.name) }}"
        >{{ ml.name }}</a>
      </h2>
      {% if ml.description %}
      <p>
        {{ ml.description | md }}
      </p>
      {% endif %}
      {% if any(patches) %}
      <h3>Patches</h3>
      <div class="event-list">
        {% for patch in patches %}
        <div class="event">
          <a href="#{{ patch.message_id }}">
            {{ patch.subject }}
          </a>
          {% set stats = diffstat(patch) %}
          <br />
          <span class="text-success">+{{stats.added}}</span>
          <span class="text-danger">-{{stats.removed}}</span>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <div class="col-md-8">
      {% macro display_message(msg) %}
      {% set stripped_subject =
        msg.subject[4:] if (msg.subject
          .upper().startswith("RE: ")) else msg.subject %}
      {% if msg == thread %}
      <small class="text-muted pull-right" style="line-height: 2">
        {% if msg.nreplies > 0 %}
        <span>
          <i class="fa fa-reply"></i>
          {{msg.nreplies}}
        </span>
        {% endif %}
        {% if msg.nparticipants > 1 %}
        <span>
          <i class="fa fa-user"></i>
          {{msg.nparticipants}}
        </span>
        {% endif %}
      </small>
      <h3>
        {{ msg.subject }}
      </h3>
      {% elif stripped_subject != thread.subject %}
      <h3>{{ msg.subject }}</h3>
      {% endif %}
      <div>
        <div class="message-header">
          <div class="from">
            {% set from_hdr = msg.parsed()['From'] %}
            {% set from = parseaddr(from_hdr) %}
            {% if msg.sender != None %}
            <a href="/{{ msg.sender.canonical_name() }}">
              {{from[0]}}
            </a>
            {% else %}
            {{from[0]}}
            {% endif %}
            {% if current_user %}
            <a
              href="mailto:{{from_hdr}}&in-reply-to={{quote(msg.message_id)}}"
            >&lt;{{ from[1] }}&gt;</a>
            {% endif %}
          </div>
          <details>
            <summary>Details</summary>
            <div>
              <dl>
                <dt>Message ID</dt>
                <dd><code>{{ msg.message_id }}</code></dd>
                {% if msg.parent_id %}
                <dt>In-Reply-To</dt>
                <dd><code>{{ msg.parent.message_id }}</code></dd>
                {% endif %}
              </dl>
              <a href="{{ url_for(".raw",
                  owner_name=ml.owner.canonical_name(),
                  list_name=ml.name,
                  message_id=msg.message_id
                ) }}" target="_blank">Download raw message</a>
            </div>
          </details>
          <div class="date">
            <a
              id="{{ msg.message_id }}"
              href="#{{ msg.message_id }}"
              class="text-muted"
            >{{ msg.created | date }}</a>
          </div>
          {% if msg.is_patch %}
          <div class="patch-info">
            {% set stats = diffstat(msg) %}
            Patch
            <span class="text-success">+{{stats.added}}</span>
            <span class="text-danger">-{{stats.removed}}</span>
            {# TODO
            <a
              href="#"
              class="pull-right"
            >Review <i class="fa fa-caret-right"></i></a>
            #}
          </div>
          {% endif %}
        </div>
        <pre class="message-body">{{format_body(msg)}}</pre>

        {% if len(msg.replies) > 1 %}
        {% for child in msg.replies %}
        <blockquote class="tree">
        {{ display_message(child) }}
        </blockquote>
        {% endfor %}
        {% endif %}
      </div>

      {% if len(msg.replies) <= 1 %}
      {% for child in msg.replies %}
      {{ display_message(child) }}
      {% endfor %}
      {% endif %}
      {% endmacro %}

      {{ display_message(thread) }}
    </div>
  </div>
</div>
{% endblock %}
