{% extends "lists.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>
        ~{{ user.username }}
      </h2>
      {% if profile %}
      {% if profile.get("location") %}
      <p>{{profile["location"]}}</p>
      {% endif %}
      {% if profile.get("url") %}
      <p>
        <a href="{{profile["url"]}}" target="_blank">
          {{profile["url"]}}
        </a>
      </p>
      {% endif %}
      {% if profile.get("bio") %}
      <p>{{profile["bio"]}}</p>
      {% endif %}
      {% endif %}
      {% if any(user.lists) %}
      {% for list in user.lists %}
      <div style="margin-top: 1rem">
        <h4>
          <a href="{{ url_for("archives.list",
              owner_name=list.owner.canonical_name(),
              list_name=list.name
            ) }}"
          >{{list.owner.canonical_name()}}/{{list.name}}</a>
        </h4>
        <span class="text-muted">Last active {{ list.updated | date }}</span>
      </div>
      {% endfor %}
      {% endif %}
    </div>
    <div class="col-md-8">
      {% if any(recent) %}
      <h3>Recent activity</h3>
      <div class="event-list">
        {% for email in recent %}
        <div class="event">
          <h4>
            <a href="{{ url_for("archives.thread",
                owner_name=email.list.owner.canonical_name(),
                list_name=email.list.name,
                message_id=email.thread.message_id if email.thread else email.message_id,
              ) }}{{ "#" + email.message_id if email.thread else "" }}">
              {{ email.subject }}
            </a>
            <small class="text-muted pull-right">{{ email.created | date }}</small>
          </h4>
          <p>
            From
            <a href="mailto:{{ email.parsed().get('From') }}">
              {{ email.parsed().get('From') }}
            </a>
            to
            <a
              href="{{ url_for("archives.list",
                owner_name=email.list.owner.canonical_name(),
                list_name=email.list.name
              ) }}"
              >{{email.list.owner.canonical_name()}}/{{email.list.name}}</a>
          </p>
          <blockquote>
            <pre style="background: transparent">{{ email.body }}</pre>
          </blockquote>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <p>
        No activity from this user.
      </p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
